{{!< default}}
<div class="header">
    <h1>{{@blog.title}}</h1>
    {{navigation}}
</div>
<div class="blog">
    <h1>Blog Posts:</h1>
    <ul>
    {{#foreach posts}}
        <li>
            <span class="date">{{date updated_at timeago="true"}}</span> - <a href="{{url}}">{{title}}</a>
        </li>
    {{/foreach}}
    </ul>
    <br>
    {{pagination}}
</div>
